.bannerDiv {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav nav nav social avatar"
    "top top top top top top top"
    "left left text text text right right"
    "bottom bottom bottom bottom bottom bottom bottom";
}
.bannerImg {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.bannerImg img {
    height: 300px;
}
.bannerText {
    grid-area: text; 
    background-color: var(--main-dark-color);
    color: var(--main-bg-color);
    padding: 5px;
}
.bigFont {
    font-size: 4em;
    font-family: var(--main-font);
    margin: 0;
}
.slimFont {
    font-family: var(--header-font);
    font-size: 1.6em;
    margin: 0;
}
@media screen and (max-width: 1150px) {

}

@media screen and (max-width: 890px) {
    .bigFont {
        font-size: 3em;
    }
}