.bigPostContentDiv {
    align-items: right;
}
.bigPostContentDiv p {
    margin-top: 30px;
}
.writtenBy {
    display: flex;
}
.commentsLikesCount {
    align-self: right;
    width: 15%;
    margin-left: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: right;
}
.commentsLikesCount i, .commentsLikesCount p {
    margin: 0;
    font-size: 0.85em;
}
.red {
    color: red;
}
.postBody {
    padding: 5px;
}
.subtitle {
    font-weight: bold;
    margin-bottom: 30px;
}
.titleP {
    font-size: 2em;
}
.punchline {
    padding: 0 15px 0 15px;
    border-left: 2px solid lightblue;
    font-size: 1.3em;
}