.commentsLikes {
    align-self: flex-end;
    display: grid;
    grid-template-columns: 12fr 1fr;
    grid-area: "comment like";
}
.commentsLikes input {
    border: 1px solid var(--light-grey-color);
}
.commentsLikes button {
    width: 100%;
}
button.enabled {
    color: red;
}