button {
    font-family: var(--main-font);
    display: inline-block;
    width: 150px;
    color: var(--main-font-color);
    outline: none;
    border: none;
    background-color: var(--main-bg-color);
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
a {
    color: var(--main-font-color);
    text-decoration: none;
    width: 100%;
    display: block;
}