button {
    font-family: var(--main-font);
    font-size: 1.3em;
    display: inline-block;
    color: var(--main-font-color);
    outline: none;
    border: none;
    background-color: var(--main-bg-color);
    padding: 0;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
a {
    color: var(--main-font-color);
    text-decoration: none;
    width: 100%;
    display: block;
}