footer {
    height: var(--footer-height);
    padding: 10px;
    background-color: var(--main-dark-color);
    color: var(--main-bg-color);
}
.social {
    width: 15%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.social i {
    cursor: pointer;
}
.copyright {
    margin-top: 15px;
}
small {
    font-size: 0.85em;
}
@media screen and (max-width: 1150px) {
    .social {
        font-size: 1.3em;
    }
    .social i {
        padding: 10px 10px 10px 10px;
    }
}

@media screen and (max-width: 1000px) {
    .social {
        width: 25%;
        font-size: 1.5em;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 650px) {
    .social {
        width: 75%;
    }
}