.userPage {
	width: 70%;
	margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas: 
    ". addNew"
    "header header"
    "left posts";
    margin-top: 50px;
    margin-bottom: 50px;
}
.userPage .addNew {
    grid-area: addNew;
    width: 200px;
    justify-self: end;
}
.empty {
    grid-area: .;
}
h3 {
    grid-area: header;
}
.posts {
    grid-area: posts;
}
.emptyDiv {
    min-height: 60vh;
}