:root {
    --main-dark-color: #2F2E2E;
    --main-bg-color: #F6F6F6;
    --main-font-color: black;
    --light-grey-color: #B4B4B4;

    --hover-color: #DBDBDB;
    --placeholder-color: #A0A0A0;
    --main-font: 'Cardo', serif;
    --header-font: 'Teko', sans-serif;;

    --small-post-margin: 25px;
    --welcome-page-grid-gap: 30px;
}
body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
    color: var(--main-font-color);
}
.App {
    width: 100%;
    margin: auto;
    text-align: center;
}