:root {
    --main-dark-color: #2F2E2E;
    --main-bg-color: #F6F6F6;
    --main-font-color: black;
    --light-grey-color: #B4B4B4;
    --google-color: #C53727;
    --facebook-color: #3A5998;

    --hover-color: #DBDBDB;
    --placeholder-color: #A0A0A0;
    --main-font: 'Merriweather', serif;
    --header-font: 'Teko', sans-serif;

    --small-post-margin: 25px;
    --welcome-page-grid-gap: 30px;

    --header-height: 70px;
    --footer-height: 60px;
}
body {
    font-size: 16px;
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
    color: var(--main-font-color);
    margin: 0;
    padding: 0;
}
.App {
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 1150px) {
    body {
        font-size: 13px;
    }
}